<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "network"
        version     = "1.0.0" >

    <name>Network</name>
    <description>Information about network connection</description>
    <author href="http://mypersonalwebsite.com" email="johnbrown@gmail.com">
        Joanna Pełeńska
    </author>
    <platform name="android" />

    <plugin name="cordova-plugin-network-information" spec="2.0.1" />
</widget>